body {
    background-color:beige;
    font-family: Arial, sans-serif;   
    height: 100vh;
}
#cabecera{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    background-color: rgb(245, 194, 100);
}
#cabecera *{
    width: auto;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
#cabecera h1{    
    margin-top: 30px;
}
#reproductor {
    margin-left: 10%;
    margin-top: 200px;    
    background-color: beige;
    position: fixed;    
    width: 50%;
    height: 3000px;
}
#reproductor * {
    width: 100%;
    height: auto;
}
#videoElement {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;  
}
#videoElement:hover + #barraCargaVacia,
#barraCargaVacia:hover {
    opacity: 100%;
    transition: 0.5s;
}
#barraCargaVacia {
    width: 95%;
    height: 30px;
    background-color: #a8a8a8;  
    top: -60px;  
    position: relative;
    margin-left: 2%;
    z-index: 2;    
    transition: 0.5s;    
}
#barraCargaLlena {
    width: 0%;
    height: 30px;
    background-color: #ff0000;
    position: relative;
    z-index: 3;
    
}
#scrubber {
    border-radius: 50%;
    height: 60px;
    background-color: #ff0000;
    width: 50px;
    z-index: 4;
    position: relative;
    top: -45px;
    cursor: pointer;
    opacity: 0%;    
}

#scrubber:hover {
    opacity: 100%;
    transition: 0.5s;
}
#titulo {
    margin-left: 10px;
    width: 100%;
    height: auto;
    font-size: 2vw;
}
#controles {
    background-color: #fff3dd00;
    margin-top: 50px;
    width: 100%;    
    clear: both;
    display: flex;
    gap: 5%;           
}
#controles * {
    background-color: rgb(253, 191, 78);    
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    border-radius: 10%;
}
#controles img {
    width: 40%;
    height: auto; 
    
    
}

#carrusel {    
    margin-top: 200px;
    margin-right: 10%;
    width: 20%;    
    float: right; 
}
#carrusel * {
    margin-bottom: 5px;
    background-color: bisque;
    display: block;
    width: 100%;
    height: auto;
} 
#carrusel img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}   
.sombra {
    box-shadow: 5px 5px 5px #888888;
}
.oculto {
    opacity: 0%;
}
.visible {
    opacity: 100%;    
}