* {
   font-family: Arial, Helvetica, sans-serif;
}
#barraSuperior {
    width: 100%;
    background-color: rgb(24, 43, 94);
    height: 20px; 
    color: lightgray;
    margin-left: -8px;
    margin-top: -8px;
    padding: 8px;
    font-size: small;
    display: flex;
    justify-content: space-between;
}
#miweb {
    width: 50px; 
}
#alargate {
    width: 100%; 
}
#menus { 
    margin-right: 15px; 
    width: 200px;     
    display: flex;    
}
#menus > div {
    margin-left: 10px;
}
.iluminado {
    cursor: pointer;    
}
.iluminado a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.iluminado:hover {
    color: orange;
}
#banner {
    background: linear-gradient(to right, #43a5f5, #c37bfe);
    width: 100%;
    height: 150px;
    margin-left: -8px;
    padding-right: 16px;
    text-align: center;    
    padding-top: 1px;
    color: white;        
}
#banner:hover {
    background: linear-gradient(to right, #c37bfe,  #43a5f5);
}
#articulos {
    display: flex;
    width: 100%;
    }
.seccion {
    padding: 3px;
    font-size: small;    
}
#secciones {
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    font-size: small;
    padding: 2%;
    width: 25%;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
}
.articulo {   
    border-radius: 5px;    
    box-shadow: 2px 2px 5px; 
    padding: 5px;
    padding-bottom: 10px;
    margin: 15px;
}
footer {
    background-color: rgb(17, 35, 83);
    text-align: center;
    color: white;
    font-size: small;
    padding: 5px;
    margin-left: -8px;
    margin-bottom: -8px;
    margin-right: -8px;
}
#servicios {
    background-color: rgb(228, 228, 228);
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    text-align: center;
    font-size: smaller;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-left: 1%;
}
.cartel {
    background: linear-gradient(to right, #43a5f5, #c37bfe);
    border-radius: 10px;
    width: 30%;
}
.cartel:hover {
    background: linear-gradient(to right, #c37bfe,  #43a5f5);
       
}
#fotos {
    width:100%;    
    display: flex;
    justify-content: space-around;  
    padding:10px;
    height: auto;
    gap :2%;
}
#fotos img {    
    width: 19%;
    border-radius: 5px;
    margin-bottom: 20px;   
    height: auto;   
    object-fit: contain;
}
#fotos > img:hover{
    box-shadow: 2px 2px 5px;    
    transform: scale(1.03);
    transition: 0.3s;
}