body {
    font-family: Arial, sans-serif;
    width: 99vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#messages {
    list-style-type: none;
    padding: 0;
    overflow: auto;
}

#form {
    width: 100%;
}
#form input {
    width: 80%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
#form button {
    width: 12%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#messages li {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#messages .user-message {
    background-color: khaki;
    text-align: right;
}

#messages .other-message {
    background-color: rgb(195, 255, 176);
    text-align: left;
}

#messages img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
}

.image-container {
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 5px;
}

#fileLinks a {
    display: block;
    margin-bottom: 5px;
}
img{
    width: 200px;
    height: auto;
}
#fileForm input {
    width: 80%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
}