body {
    background-color: rgb(228, 228, 2);
}
img {
    width: 60px;
    height: 60px;
}
#tablero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#marcadores {
    background-color: rgb(228, 228, 2);
    width: 100%;
    height: auto;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    margin-right: 50px;
}
.letras {
    color: orange;
    font-size: 40px;
    
}
.marcador1 {    
    width: 230px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 45px;    
    text-align: center;
    
}
.marcador2 {    
    width: 230px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 35px;
    align-content: center;
    
}
.marcador2 img {
    width: 38px;
    height: 50px;
}
#salida {
    margin-left: 100px;
    margin-right: 90px;
    width: 60px;
    height: 60px;
    background-color: black;
    
}
#negro {
    background-color: black;
}
#pantalla { 
    display: flex;
    justify-content: center;   
    flex-wrap: nowrap;
    display: grid;     
    grid-template-columns: repeat(21, 60px);
    grid-template-rows: repeat(13, 60px);    
}

.celda {
    width: 100%;
    height: 100%;
    background-color: rgb(82, 29, 29);    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.pasillo {
    background-color: rgb(0, 0, 0);
    background-size: 100% 100%;
    overflow: visible;
}
.personaje1 {
    background-image: url(Fotos/personaje1.png);   

}
.personaje2 {
    background-image: url(Fotos/personaje2.png);
}
.personaje3{
    background-image: url(Fotos/personaje3.png);
}
.personaje4{
    background-image: url(Fotos/personaje4.png);
}
.personaje1r {
    background-image: url(Fotos/personaje1r.png);   

}
.personaje2r {
    background-image: url(Fotos/personaje2r.png);
}
.personaje3r{
    background-image: url(Fotos/personaje3r.png);
}
.personaje4r{
    background-image: url(Fotos/personaje4r.png);
}
.momia1{
    background-image: url(Fotos/momia1.png);
}
.momia2{
    background-image: url(Fotos/momia2.png);
}
.momia3{
    background-image: url(Fotos/momia3.png);
}
.momia4{
    background-image: url(Fotos/momia4.png);
}

@keyframes entrarPorIzquierda {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes entrarPorDerecha {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes entrarPorArriba {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

@keyframes entrarPorAbajo {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}

.entrarPorIzquierda {
    animation: entrarPorIzquierda 0.3s forwards;
}

.entrarPorDerecha {
    animation: entrarPorDerecha 0.3s forwards;
    z-index: 1;
}

.entrarPorArriba {
    animation: entrarPorArriba 0.3s forwards;
}

.entrarPorAbajo {
    animation: entrarPorAbajo 0.3s forwards;
    z-index: 1;
}